body {
    text-align: center;
    background-color:cyan;
}

header {
    background-color: antiquewhite;
    border: 3px solid black;
}

h2 {
    width: 65%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

p {
    background-color: antiquewhite;
}

footer p {
    border: 3px dotted blue;
    margin: auto;
    background-color: antiquewhite; 
}

img {
    border: 5px solid green;
    border-radius: 50%;
}

img:hover {
    border: none;
    border-radius: 0%;
}